section{
    padding: 4rem 0px 4rem 0px;
}

.header{
   padding: 0px 0px 30px 0px;
}

h1{
  font-family: fantasy;
}


.card{
    padding: 10px 10px 30px 10px;
    margin-bottom: 1.5rem;
}

i{
    background-color: red;
    font-size: 16px;
    color: white;
    cursor: pointer;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
span{
    padding-right: 20px;
    font-family: monospace;
}
